<div *ngIf="character">
    <h1>{{character.name}}

        <button *ngIf="!isFav; else notFav" (click)="addToFavourites()" mdbBtn color="green"
        size="sm" mdbWavesEffect>Add to favourites</button>


        <ng-template #notFav>
            <button (click)="removeFromFavourites()" mdbBtn color="red"
            size="sm" mdbWavesEffect>Remove from favourites</button>
        </ng-template>

    </h1>
    <p>Height: {{character.height}}</p>
    <p>Mass: {{character.mass}}</p>
    <p>Hair color: {{character.hairColor}}</p>
    <p>Skin color: {{character.skinColor}}</p>
    <p>Year of birth: {{character.birthYear}}</p>
    <p>Gender: {{character.gender}}</p>
    <p *ngIf="character.planet">Home: {{character.planet.name}}</p>
    <div *ngIf="character.films.length > 0">
        <p>Films</p>
        <ul *ngFor="let film of character.films">
            <li>{{film.title}}</li>
        </ul>
    </div>
    <div *ngIf="character.species.length > 0">
        <p>Species</p>
        <ul *ngFor="let spc of character.species">
            <li>{{spc.name}}</li>
        </ul>
    </div>
    <div *ngIf="character.vehicles.length > 0">
        <p>Vehicles</p>
        <ul *ngFor="let vehicle of character.vehicles">
            <li>{{vehicle.name}}</li>
        </ul>
    </div>
    <div *ngIf="character.starships.length > 0">
        <p>StarShips</p>
        <ul *ngFor="let starship of character.starships">
            <li>{{starship.name}}</li>
        </ul>
    </div>
</div>
